node_modules
build
*.egg-info
dist
.exports

__pycache__
*.pyc
venv

# Deployment files
.env

# IDEs
.idea
.vscode

# System files
*.DS_Store*

# lib_name package code
/{lib_name}

# html docs
/docs/*.html

# notebooks are not commited
src/*.ipynb*
src/*.ipynb_checkpoints*
